
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: mediumslateblue;
  padding: 20px;
  text-align: justify;
  padding-bottom: 0;
}

.card {
    /* background: rgba(255, 255, 255, 0.08);  */
  max-width: 900px;
  width: 100%;
  margin: 20px auto;
  padding: 30px;
  border-radius: 16px;

  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(12px);
  

  /* width: 300px; */
  color: rgba(255, 255, 255, 0.9);  /* branco mais suave */
  text-shadow: 0 1px 3px rgba(0,0,0,0.2); /* destaca texto sem borda */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.15);
  text-align: center;
}

a {
    margin-inline:240px;
    
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-size: 4em;
    background-color: darkblue;

    display: inline-block;
    text-align: center;
    padding: 15px 30px;
    margin: 20px auto;
    font-size: 2em;
}

html {
scroll-behavior: smooth;
scroll-padding-top: 100px;
}

a:hover {
    transition: all ease-in-out 0.5s;
    color: aliceblue;
    /* background-color: black; */
    background: linear-gradient(90deg, #ff00cc, #3333ff, #00ffee);
    font-size: 4.2em;


}

.video-popup {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 20px;
  border-radius: 16px;
  z-index: 1000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.video-popup:target {
  display: block;
}

audio {
    margin: auto;
    margin-block: 100px;
    width: 100%;
    
    
}

body h1, h2 {
    color: white;
    
    text-align: justify;
}

.cinza {
    background-color: gray;

    color: white;
    padding: 5px;
    margin: 0;
    border-radius: 10px;
}

.cor {
    background: linear-gradient(90deg, #ff00cc, #3333ff, #00ffee);
    color: white;
    padding: 0 5;
    margin: 0;
    border-radius: 10px;
}


body small {
    margin: 0;
    font-size: 20px;
}

body mark {
    color: white;
    padding: 5px;
    margin: 0;
    border-radius: 10px;
    background-color:darkblue;
}


.carrossel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-left: 0px
}

.carrossel {
  display: flex;
  animation: deslizar 360s linear infinite; /* 2 segundos por imagem */
  width: calc(100vw * 80);
  
}
/* 
.carrossel:hover {
  animation-play-state: paused;
} */
.carrossel img {
  width: 80vw;
  height: auto;
  border-radius: 20px;
  object-fit: contain;
 /* opcional: fundo para imagens menores */
    
  

}

img {
    border-radius: 120px;
}
/* 
.carrossel img {
    width: 100vw; 
  flex-shrink: 0;
  object-fit: cover;
  height: 100vh;
} */

@keyframes deslizar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-7900vw); /* 100vw * (80 - 1) */
  }
}

@media (max-width: 600px) {
  .card {
    padding: 20px;
  }

  a {
    font-size: 1.2em;
    padding: 10px 20px;
    width: 100%;
  }

  a:hover {
    font-size: 1.3em;
  }

  .carrossel img {
    width: 100vw;
    height: auto;
  }

  h1, h2 {
    text-align: justify;
    font-size: 1.3em;
  }

  .video-popup {
    display: none;
  }

  .video-popup:target {
    display: block;
  }
}

/* TABLETS E NOTEBOOKS PEQUENOS */
@media (min-width: 601px) and (max-width: 1024px) {
  .card {
    max-width: 80%;
  }}